* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E9ECF4;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor>div,
.header,
.sidebar,
.contenido,
.footer {
    background-color: #FFF;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background-color: #a4dda4;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
}

.contenedor .contenido {
    grid-row-start: 2, 2;
    grid-column: span 2;
}

.contenedor .sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #ffd375;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .widget-1,
.contenedor .widget-2 {
    background-color: #53c7fd;
    color: #FFF;
    text-align: center;
}

.contenedor .footer {
    grid-row-start: 4;
    grid-column: span 3;
    background-color: #a4dda4;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .contenedor .contenido {
        grid-row-start: 2, 2;
        grid-column: span 3;
    }
    .contenedor .sidebar {
        grid-row-start: 3;
        grid-column: span 3;
    }
    .widget-2 {
        grid-column: span 2;
    }
    .contenedor .footer {
        grid-row-start: 5;
        grid-column: span 3;
    }
}